.root {
  position: relative;
}

.btn {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .9s linear;
  border-radius: 3px;
}

.btn[data-navigation-is-open="false"] {
  display: flex;
  visibility: visible;
  animation: bshowIn 0.5s linear forwards;
}

.btn[data-navigation-is-open="true"] {
  display: none;
  visibility: none;
  animation: bshowOut 0.5s linear forwards;
}

.btn svg {
  width: 24px;
  height: 24px;
}

.btn:hover {
  background-color: var(--navy-400);
}

.portal {
  width: 175px;
  box-sizing: border-box;
  padding: 8px 4px !important;
  background-color: var(--dropdown-menu-bg);
  position: absolute;
  top: 36px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  right: 0px;
  border-radius: 3px;
  box-shadow: -4px 4px 9px 0px rgba(0, 0, 0, 0.25);
  list-style: none;
  z-index: 1000;
}

.portal[data-open="true"] {
  display: flex;
}

.portal[data-open="false"] {
  display: none;
}

.portal li {
  width: 100%;
  box-sizing: border-box;
}

.item a {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 2px 4px 4px;
  height: 32px;
  gap: 4px;
  font-size: 13px;
  color: currentColor;
  cursor: pointer;
  color: var(--white);
  border-radius: 1px;
  text-decoration: none;
  font-weight: 400;
  border-radius: 2px;
}

.item a:hover {
  background-color: var(--navy-400);
}

.icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.icon svg {
  font-size: 22px;
  stroke-width: 1.5px;
  shape-rendering: geometricPrecision;
}
