.main {
  grid-area: editor;
  display: grid;
  height: var(--modal-height);
  width: 100%;
  max-width: var(--max-width);
  grid-template-rows: 48px calc(100% - (var(--footer-height) + var(--header-height))) 48px;
  grid-template-areas: "header""content""footer";
}

.header {
  grid-area: header;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  align-items: center;
  border-bottom: 1px solid var(--border);
  gap: 16px;
  background: var(--header-bg);
  position: relative;
}

.btnToggleNavigation {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s linear;
  border-radius: 3px;
}

.main .header button[data-navigation-is-open="false"] {
  display: flex;
  visibility: visible;
  animation: bshowIn 0.5s linear forwards;
}

.main .header button[data-navigation-is-open="true"] {
  display: none;
  visibility: none;
  animation: bshowOut 0.5s linear forwards;
}

.main .header button svg {
  width: 24px;
  height: 24px;
  color: var(--gray-300)
}

.main .header button:hover svg{
    color: var(--white)
}

.btnToggleNavigation:hover {
 background-color: var(--black-400);
}

.main .header .title {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  line-height: var(--header-height);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin: 0px;
  transition: 1s ease-in-out;
  width: 100%;
  user-select: none;
  cursor: default;
}



.main .content {
  grid-area: content;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;

  overflow-x: hidden;
  overflow-y: auto;
  margin: 0px;
  position: relative;
  scrollbar-width: thin;
}


.main .content::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.main .content::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

.main .content::-webkit-scrollbar-button {
  display: none;
}

.main .footer {
  grid-area: footer;
  height: var(--footer-height);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  width: 100%;
  border-top: 1px solid var(--border);
}

.main .footer .btn-expanded{
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s linear;
  border-radius: 3px;
}


@keyframes bshowIn {
  0% {
    opacity: 0;
    transform: translateX(-5px)
  }

  100% {
    opacity: 1;
    transform: translateX(0px)
  }
}

@keyframes bshowOut {
  0% {
    opacity: 1;
    transform: translateX(0px)
  }

  100% {
    opacity: 0;
    transform: translateX(-5px)
  }
}
