.form {
  width: 100%;
  height: auto;
}

.form fieldset {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 24px;
  border: none;
  outline: none;
}

.form fieldset label {
  font-size: 16px;
}

.form fieldset .select {
  position: relative;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 8px
}

.btn {
  width: 100px;
  height: 30px;
  background: var(--black-400);
  border-color: var(--black-400);
}

.btn:hover {
  border-color: var(--black-400);
  color: var(--white);
}

.btnExport {
  background-color: var(--blue-300);
  border-color: var(--blue-300);
}

.btnExport:hover {
  background-color: var(--blue-400);
  border-color: var(--blue-400);
  color: var(--white);
}

.btn:hover {
  color: var(--white);
}
