#editor {
  --font-size: 14px;
  --flow-space: 1.375em;

  height: auto;
  background: none;
  font-size: var(--font-size);
  font-family: var(--font-family);
  width: 100%;
  position: relative;
  z-index: 500;
}

/* Reset */
#editor *::selection {
  background-color: var(--accent);
  color: var(--white)
}

#editor:focus {
  outline: none;
  border: none;
}

#editor *:is(p, ol, ul) {
  font-weight: 400;
  line-height: 1.8571428571428572em;
  font-family: var(--font-family);
}

#editor *:is(code) {
  font-family: monospace;
}

#editor a {
  all: revert;
  cursor: pointer;
  color: var(--accent);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--accent);
}

#editor em {
  font-style: italic;
}


/*---------- Reset ----------*/



/* Placeholder */
#editor [data-placeholder]:is(p)::before {
  visibility: hidden;
}

#editor .has-focus[data-placeholder]:is(p)::before {
  visibility: visible;
}

#editor .placeholder:is(h1):nth-child(1)::before,
#editor [data-placeholder]:is(p)::before {
  color: var(--placeholder);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  visibility: hidden;
  font-family: var(--font-family);
}

#editor .placeholder:is(h1):nth-child(1)::before {
  color: var(--placeholder-title);
  visibility: visible;
  line-height: 1.8571428571428572em;
  font-weight: 800;
  font-size: 28px;
}

/*---------- Placeholder ----------*/




#editor p {
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--content-text)
}


#editor h1,
#editor h2,
#editor h3 {
  line-height: 1.2;
  font-weight: 800;
  width: 100%;
  display: inline-block;
}

#editor h1 {
  font-size: 1.7857142857142858em;
}

#editor h2 {
  font-size: 1.3571428571428572em;
}

#editor h3 {
  font-size: 1.1428571428571428em;
}

#editor ul,
#editor ol {
  padding-inline-start: 1em;
}

#editor blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  display: block;
  width: 100%;
  padding: 1em;
}

#editor pre {
  display: block;
  width: 100%;
  padding: 1em;
  background: var(--bg-code);
  border-radius: 3px;
}

#editor code {
  background-color: var(--bg-code);
  color: var(--text);
  font-weight: 400;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 1em;
  display: inline-block;
}

#editor pre code {
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: pre;
  width: 100%;
  min-height: 30px;
  background: transparent
}

#editor hr {
  width: 100%;
  height: 13px;
  border: none;
  display: block;
  position: relative;
}

#editor hr::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  height: 1px;
  width: 100%;
  background: var(--hr);
  border-radius: 13px;
}





/* Spacing */
#editor *+* {
  margin-block-start: var(--flow-space)
}


#editor *+*:is(h1, h2, h3) {
  --flow-space: 2em
}


#editor *:is(h1, h2, h3)+hr {
  --flow-space: 0.5em;
}

#editor li+li {
  --flow-space: 0.5em
}

/*---------- Spacing ----------*/
