#editor {
  --font-size: 14px;
  --flow-space: 1.375em;

  height: auto;
  background: none;
  font-size: var(--font-size);
  font-family: var(--font-family);
  width: calc(100% - 10px);
  position: relative;
  z-index: 500;
}

/* Reset */
#editor *::selection {
  background-color: var(--editor-accent);
  color: var(--white)
}

#editor:focus {
  outline: none;
  border: none;
}

#editor > *:is(p, ol, ul) {
  font-weight: 400;
  line-height: 1.8571428571428572em;
  font-family: var(--font-family);
}

#editor a {
  all: revert;
  cursor: pointer;
  color: var(--editor-accent);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--editor-accent);
}

#editor em {
  font-style: italic;
}


/*---------- Reset ----------*/



/* Placeholder */
#editor [data-placeholder]:is(p)::before {
  visibility: hidden;
}

#editor .has-focus[data-placeholder]:is(p)::before {
  visibility: visible;
}

#editor .placeholder:is(h1):nth-child(1)::before,
#editor [data-placeholder]:is(p)::before {
  color: var(--editor-placeholder);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  visibility: hidden;
  font-family: var(--font-family);
}

#editor .placeholder:is(h1):nth-child(1)::before {
  color: var(--editor-placeholder);
  visibility: visible;
  line-height: 1.2;
  font-weight: 800;
  font-size: 28px;
}

/*---------- Placeholder ----------*/




#editor p {
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--editor-content-color)
}

#editor h1,
#editor h2,
#editor h3 {
  line-height: 1.2;
  font-weight: 800;
  width: 100%;
  display: inline-block;
}

#editor h1 {
  font-size: 1.7857142857142858em;
}

#editor h2 {
  font-size: 1.3571428571428572em;
}

#editor h3 {
  font-size: 1.1428571428571428em;
}

#editor:first-child{
  color: var(--editor-title)
}

#editor > ul,
#editor ol {
  padding-inline-start: 1em;
}

#editor blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  display: block;
  width: 100%;
  padding: 1em;
}

#editor *:not(pre) code {
  background-color: #FECF49;
  color: var(--editor-inline-code-color);
  font-weight: 600;
  box-decoration-break: clone;
  padding: 0px;
  border-radius: 4px;
  font-size: 1em;
  display: inline;
  font-family: monospace;
  padding: 0px 2px;
}

/* Spacing */
#editor > * + * {
  margin-block-start: var(--flow-space)
}


#editor > *+*:is(h1, h2, h3) {
  --flow-space: 2em
}


#editor > *:is(h1, h2, h3)+hr {
  --flow-space: 0.5em;
}

#editor li+li {
  --flow-space: 0.5em
}

/*---------- Spacing ----------*/

#editor hr{
  width: 100%;
  height: 12px;
  border: none;
  display: block;
  position: relative;
  z-index: 2;
  background: none;
  cursor: default;
}

#editor hr::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--editor-divider);
  position: absolute;
  top: 50%;
  border-radius: 3px;
  z-index: 3;
  display: block;
  transform: translateY(-50%);
}

#editor hr:hover{
 cursor: default;
}

#editor hr.has-focus::before{
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0px;
  background: rgba(35, 131, 226, 0.14);
  z-index: -1;
  opacity: 1;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: opacity;
  transition-duration: 270ms;
  transition-timing-function: ease;
}
