.btn {
  all: revert;
  background-color: transparent;
  color: var(--text);
  cursor: pointer;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  border-radius: 3px
}

.btn svg {
  fill: transparent
}
