#tn-root, .popup-mode {

  /* Colors Root */
  --white: #f3f5f7;
  --white-500: #B9BBBC;

  --black-900: #121416;
  --black-800: #1E2021;
  --black-700: #26282A;
  --black-600: #343638;
  --black-400: #454749;

  --gray-300: #A4A5A6;
  --gray-100: #B9BBBC;

  --red-300: #F25E5E;
  --red-400: #D95555;

  --blue-300: rgba(84, 160, 255, 1);
  --blue-400: #2871CA;

  --orange-400: #FECF49;


  /* Components Colors*/

  /* Pages */
  --bg: var(--black-900);
  --text: var(--white);
  --accent: var(--blue-400);
  --border: var(--black-800);
  --header-bg: linear-gradient(90deg, #121416 0%, #1B1D1F 47.92%, #121416 100%);
  --scroll-thumb: var(--black-400);
  --time: var(--gray-300);

  --portal-bg: var(--black-700);
  --portal-input-bg: var(--black-800);
  --portal-accent: var(--blue-400);
  --portal-color: var(--white);

  --editor-title: var(--white);
  --editor-accent: var(--blue-400);
  --editor-content-color: var(--gray-100);
  --editor-codeblock: var(--black-800);
  --editor-inline-code-bg: var(--orange-400);
  --editor-inline-code-color: var(--black-700);
  --editor-placeholder: var(--black-600);
  --editor-divider:var(--black-700);

  --explorer-group-title: var(--gray-300);
  --explorer-group-open-title: var(--white)
}
