#tn-root {

  /* Colors Root */
  --white: #f3f5f7;
  --white-500: #B9BBBC;

  --black-900: #101214e6;
  --black-800: #121416;
  --black-700: #1b1d1f;
  --black-400: #232527;
  --black-300: #26282a;

  --gray-600: #303234;
  --gray-500: #454749;
  --gray-400: #545658;
  --gray-300: #7f8183;

  --red-300: #F25E5E;
  --red-400: #D95555;

  --blue-300: rgba(84, 160, 255, 1);
  --blue-400: rgba(51, 142, 255, 1);


  /* Components Colors*/

  /* Pages */
  --bg: var(--black-800);
  --text: var(--white);
  --accent: var(--blue-300);
  --border: var(--black-700);
  --scroll-thumb: var(--black-300);




  /* Time ago */
  --time: var(--gray-300);



  /* Dialog */
  --dialog-box-bg: var(--gray-600);




  /* Dropdown Menu */
  --trigger-hover-bg: var(--black-400);
  --dropdown-menu-bg: var(--black-300);
  --dropdown-menu-item-hover-bg: var(--gray-500);




  /* Select */
  --select-option-hover-bg: var(--gray-500);
  --select-portal-bg: var(--black-300);
  --select-indicatorSeparator-bg: var(--gray-300);
  --select-color: var(--white);




  /* Buttons */
  --button-cancel-color: var(--gray-300);
  --button-hover-border: 2px solid var(--gray-600);




  /* Navigation - List */
  --nav-list-title-color: var(--gray-300);
  --nav-title-open-color: var(--white);
  --nav-title-hover-color: var(--white);
  --nav-item-color: var(--gray-600);
  --nav-item-active-color: var(--white);
  --nav-item-hover-color: var(--white);
  --nav-item-hover-bg: var(--gray-400);




  /* Header */
  --header-bg: linear-gradient(90deg, #121416 0%, #1B1D1F 47.92%, #121416 100%);




  /* Editor */
  --content-text: var(--white-500);
  --placeholder: var(--black-300);
  --placeholder-title: var(--black-300);
  --hr: var(--gray-400);
  --bg-code: var(--black-300);
  --bg-bubbleMenu: var(--black-300);
}
