/* Reset */
.tn-editor *:not(pre code, pre *, pre, .image-base,.image-base *),
.tn-editor *:not(pre code, pre *, pre, .image-base,.image-base *)::before,
.tn-editor *:not(pre code, pre *, pre, .image-base,.image-base *)::after{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: revert;
  border: revert;
  color: inherit;
  outline: revert;
  position: static;
  transition: revert;
  transform: revert;
  font-weight: revert;
  font-size: inherit;
  z-index: revert;
  border-radius: revert;
  font-family: revert;
  line-height: revert;
  visibility: revert;
}
