#tn-root {
  --font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji",
    Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --max-width: 500px;
  --header-height: 48px;
  --footer-height: 48px
}

#tn-root *:is(p, h1, h2, h3, h4, h5, h6, a, li, button, input) {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#tn-root {
  box-sizing: border-box;
  width: auto;
}

#tn-root .isMoving {
  cursor: grabbing !important;
  z-index: 9999;
}
