button {
  background-color: transparent;
  color: var(--text);
  cursor: pointer;
  border: 2px solid transparent;
}

#tn-root {

  --white: #f3f5f7;

  --black-900: rgba(18, 18, 18, 90%);
  --black-800: rgba(25, 25, 25, 1);
  --black-700: rgba(29, 29, 29, 1);
  --black-500: rgba(40, 40, 40, 1);

  --navy-300: rgba(83, 86, 89, 1);
  --navy-400: rgba(52, 54, 56, 1);

  --gray-300: rgba(129, 129, 129, 1);
  --gray-400: rgba(50, 50, 50, 1);

  --red-300: rgba(255, 84, 84, 1);
  --red-400: rgba(255, 51, 51, 1);

  --blue-300: rgba(84, 160, 255, 1);
  --blue-400: rgba(51, 142, 255, 1);

  --accent: var(--blue-400);

  --bg: var(--black-800);
  --text: var(--white);
  --border: var(--black-700);
  --scroll-thumb: var(--black-500);
  --time: var(--gray-300);

  --placeholder: var(--black-500);
  --placeholder-title: var(--black-500);
  --hr: var(--navy-300);
  --bg-code: var(--black-500);
  --bg-bubbleMenu: var(--black-500);

  --dropdown-menu-bg: var(--black-500);
  --dialog-box-bg: var(--gray-400);


  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tn-root {
  box-sizing: border-box;
  width: auto;
  --max-width: 500px;
  --header-height: 48px;
  --footer-height: 48px
}

.isMoving {
  cursor: grabbing !important;
  z-index: 9999;
}
