.slashMenuItem {
  height: 42px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--white);
  gap: 8px;
}

.slashMenuItem .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: var(--portal-input-bg);
}

.slashMenuItem .icon svg {
  font-size: 22px;
}

.slashMenuItem:focus-within,
.slashMenuItem:focus,
.slashMenuItem:hover {
  background-color: var(--portal-accent);
  outline: none;
  border: none
}
