.group {
  width: 100%;
  height: auto;
  padding: 8px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: height 500ms ease-in-out;
}

.group .title {
  display: flex;
  cursor: pointer;
  width: 100%;
  position: relative;
  justify-content: space-between;
  min-height: 30px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: var(--nav-list-title-color);
}

.group .title::before,
.group .title::after {
  content: "";
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.group[open] .title,
.group[open] .title .control {
  color: var(--nav-title-open-color);
}

.group .title svg {
  fill: transparent
}

.group .title:hover,
.group .title:hover span {
  color: var(--nav-title-hover-color)
}


.group .title .control {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-500);
  animation: rotate 250ms linear forwards
}

.group[open] .title .control {
  animation: rotateInvert 250ms linear forwards
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotateInvert {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

.group .listEmpty {
  font-size: 11px;
  color: var(--gray-300);
  width: 100%;
  text-align: center;
}

.group ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin: 0px;
  gap: 8px
}

.group li {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.group a {
  text-decoration: none;
  color: var(--gray-300);
  cursor: pointer;
  height: 30px;
  width: 100%;
  gap: 4px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  border-radius: 2px;
}

.group ul li a i {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}

.group ul li[data-active=true] a,
.group ul li[data-active=true] a span {
  color: var(--white);
}

.group ul li a i svg {
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: transparent;
}

.group ul li a span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  color: var(--gray-500);
  text-overflow: ellipsis;
  font-size: 12px;
  width: calc(100% - 38px);
  text-align: left;
  word-break: break-all;
}

.group ul li a:hover {
  background-color: var(--portal-accent);
  color: var(--white);
}

.group ul li a:hover span {
  color: var(--white);
}
