.group {
  width: 100%;
  height: auto;
  padding: 4px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: height 500ms ease-in-out;
}

.group .title {
  display: flex;
  cursor: pointer;
  width: 100%;
  position: relative;
  justify-content: space-between;
  min-height: 30px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-500);
}

.group[open] .title,
.group[open] .title .control {
  color: var(--white);
}

.group[open] .title .control {
  transform: rotate(-180deg);
}

.group .title .control {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-500);
}

.group ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin: 0px;
  gap: 8px
}

.group li {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.group a {
  text-decoration: none;
  color: var(--gray-500);
  cursor: pointer;
  height: 30px;
  width: 100%;
  gap: 4px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  border-radius: 2px;
}

.group ul li a i {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}

.group ul li[data-active=true] a,
.group ul li[data-active=true] a span {
  color: var(--white);
}

.group ul li a i svg {
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.group ul li a span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  color: var(--gray-500);
  text-overflow: ellipsis;
  font-size: 12px;
  width: calc(100% - 38px);
  text-align: left;
  word-break: break-all;
}

.group ul li a:hover {
  background-color: var(--navy-400);
  color: var(--white);
}

.group ul li a:hover span{
    color: var(--white);
}
